* {
  padding: 0vw;
  margin: 0vw;
  }


body {
  background-color: #ffdd99;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-gap: 2vw 2vh;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  overflow: auto;
}


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 2vw;
  font-size: 1em;
  margin: 1vw;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3E8E41;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 8vw;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 1vw 1vh;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F1F1FF;
}

.show {
  display: block;
}


/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 2vw;
   border: 0.5vw solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
   background-color: beige ;
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 1.3em;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#salidaValidacion {
  color: red;
}

#asignarMasTurnos {
  display: none;
}

#htmlmt , #pp {
  display: none;
}

.salPrin{
  background-color: beige;
}

.jorlis{
  padding-left: 4em;
  margin: 1em;
}

.turlis{
  padding-left: 7em;
  margin: 1em;
}

.turnos{
  padding: 3em;
  color: orange;
  font-size: 1.3em;
  font-weight: bold;
}

.itmes{
  color : green;
}

.title{
  padding-left: 2em;
  color : red;
  font-size: 1.3em;
  font-weight: bold;
}

input[type = submit] , input[type = button] , button {
  color: #fff;
  width: 100%;
  display: block;
  background-color: #ff8000;
  border: 0.5vw solid #fff;
  margin-top: 1vw;
  border-radius: 1vw;
  box-shadow: 0.6vw 0.6vw 0.6vw #999;
  padding: 1vw;
}

input[type = submit]:hover , input[type = button]:hover , button:hover {
  font-weight: bold;
  cursor: pointer;
  color: #f0f;
  background-color: #ffff80;
}

input[type = submit]:active , input[type = button]:active , button:active {
  background-color: #990;
  border: 1vw solid #099;
}

.nom {
  font-weight: bold;
  font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .container {
      height: 100vh;
      display: grid;
      grid-template-areas:
        "header"
         "nav"
        "main"
        "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 5fr 1fr;
      grid-gap: 2vw 2vh;
    }

}
