<aside class="">
<form class="" action="index.html" method="post">
  <input type="submit" name="alta" id="alta" value="Alta">
  <input type="submit" name="baja" id="baja" value="baja">
  <input type="submit" name="modif" id="modif" value="modificacion">
</form>

  
</aside>
