<nav class="">
  <h3> <% cabecera %> </h3>
  <a href="./app/<%destinoalta%>">Alta</a>
  <a href="./app/<%destinobaja%>">Baja</a>
  <a href="./app/<%destinomodificar%>">Modificacion</a>
<!--
  <form class="" action="index.html" method="post">
    <input type="submit" name="alta" id="alta" value="Alta">
    <input type="submit" name="baja" id="baja" value="baja">
    <input type="submit" name="modif" id="modif" value="modificacion">
  </form>
  -->
</nav>
