<nav class="navegacion">
  <h3> Opciones de administraci贸n. </h3>

<div class="dropdown" id="menuUsu" name="menuUsu" >
  <button type="button" name="button"id="BtnUsu" class="dropbtn">Usuarios</button>
  <div class="dropdown-content" id="DropdownUsu">

    <a href="" id="altaUsu">Alta</a>
    <a href="" id="bajaUsu" >Baja</a>
    <a href="" id="modiUsu" >Modificaci贸n</a>
  </div>
</div>

<div class="dropdown" id="menuEmp">
  <button id="BtnEmp" class="dropbtn">Empresas</button>
  <div class="dropdown-content" id="DropdownEmp">
    <a href="" id="altaEmp">Alta</a>
    <a href="" id="bajaEmp">Baja</a>
    <a href="" id="modiEmp">Modificaci贸n</a>
  </div>
</div>

<div class="dropdown" id="menuJor">
  <button id="BtnJor" class="dropbtn">Jornadas</button>
  <div class="dropdown-content" id="DropdownJor">
    <a href="" id="altaJor">Alta</a>
    <a href="" id="bajaJor">Baja</a>
    <a href="" id="modiJor">Modificaci贸n</a>
  </div>
</div>

</nav>
