<nav class="navegacion">
  <h3> Opciones. </h3>

<div class="dropdown" id="menuUsu">
  <p id="BtnUsu" class="dropbtn">Usuarios</p>
  <div class="dropdown-content" id="DropdownUsu">

    <a href="" id="altaUsu">Alta</a>
    <a href="" id="bajaUsu" >Baja</a>
    <a href="" id="modUsu" >Modificación</a>
  </div>
</div>

<div class="dropdown" id="menuEmp">
  <p id="BtnEmp" class="dropbtn">Empresas</p>
  <div class="dropdown-content" id="DropdownEmp">
    <a href="" id="altaEmp">Alta</a>
    <a href="" id="bajaEmp">Baja</a>
    <a href="" id="modEmp">Modificación</a>
  </div>
</div>

<div class="dropdown" id="menuJor">
  <p id="BtnJor" class="dropbtn">Jornadas</p>
  <div class="dropdown-content" id="DropdownJor">
    <a href="" id="altaJor">Alta</a>
    <a href="" id="bajaJor">Baja</a>
    <a href="" id="modJor">Modificación</a>
  </div>
</div>

</nav>
