<nav class="navegacion">
  <h3> Opciones. </h3>

<div class="dropdown">
  <button id="BtnUsu" class="dropbtn">Usuarios</button>
  <div class="dropdown-content" id="DropdownUsu">
    <button type="button" name="button" value="Alta" id="altaUsu"></button>
    <a href="#" id="altaUsu2">Alta</a>
    <a href="#" id="bajaUsu" >Baja</a>
    <a href="#" id="modUsu" >Modificación</a>
  </div>
</div>

<div class="dropdown">
  <button id="BtnEmp" class="dropbtn">Empresas</button>
  <div class="dropdown-content" id="DropdownEmp">
    <a href="#" id="altaEmp">Alta</a>
    <a href="#" id="bajaEmp">Baja</a>
    <a href="#" id="modEmp">Modificación</a>
  </div>
</div>

<div class="dropdown">
  <button id="BtnJor" class="dropbtn">Jornadas</button>
  <div class="dropdown-content" id="DropdownJor">
    <a href="#" id="altaJor">Alta</a>
    <a href="#" id="bajaJor">Baja</a>
    <a href="#" id="modJor">Modificación</a>
  </div>
</div>

</nav>
