
<div id="empModal" class="modal">

<!-- Modal content -->
<div class="modal-content">
  <span class="close">&times;</span>


<h1>Alta Empresas - Jornadas laborales.</h1>
<form action="./altaemp" method="post" >
  <fieldset>
    <legend>Alta de empresas en Jornadas</legend>
    <label for="empresa"> Nombre de empresa: </label>
    <input type="text" name="empresa" id="empresa" class="text">
    <label for="nif" > N.I.F.: </label>
    <input type="text" name="nif" id="nif">
    <input type="submit" value="Enviar">
  </fieldset>
</form>

<a href="./app" >entrar en otra página</a>

</div>
</div>
