<div id="altaJorModal" class="modal">

<!-- Modal content -->
<div class="modal-content">
  <span class="close">&times;</span>

<h1>Alta jornadas laborales.</h1>


<form action="./altajor" method="post" id="formaltajor" >
<fieldset>
  <legend>Datos para crear una jornada.</legend>
  <div class="" id="jordatprop">


<label for="selectAltaJorE">Seleccione la empresa:</label>
<select class="" name="selectAltaJorE" id="selectAltaJorE" required >
  <option value="" id="optionAltaJorE"></option>
</select>

  <label for="fechIni"> Fecha de inicio: </label>
  <input type="date" name="fechIni" id="fechIni" class="text" value="2018-12-13" required >
  <label for="horaApertu" > Hora de apertura: </label>
  <input type="time" name="horaApertu" id="horaApertu" required value="18:00" >

  <label for="horasOpen" > Horas de la jornada: </label>
  <input type="number" name="horasOpen" id="horasOpen" value="8" required >
  <label for="asignarTurnos" > Asignación de los turnos: </label>
  </div>
  <p>Seleccione Trabajador:</p>
  <label for="selectAltaJorT">Seleccione el trabajador del turno:</label>
  <select class="" name="selectAltaJorT" id="selectAltaJorT" required >
    <option value="" id="optionAltaJorT"></option>
  </select>

  <label for="horasTurno" > Horas de la jornada: </label>
  <input type="number" name="horasTurno" id="horasTurno" required value="8" >
  <label for="horaIni" > Hora de la entrada: </label>
  <input type="time" name="horaIni" id="horaIni" required value="18:00" >

  <input type="button" value="Asignar mas Turnos" id="asignarTurnos" >
  <input type="button" value="Asignar mass Turnos" id="asignarMasTurnos" >

  <input type="submit" value="Grabar y salir" id="submitAltaJor">
</fieldset>
</form>

</div>
</div>
