


  <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

<h1>Jornadas laborales.</h1>
<form action="./altausu" method="post" >
  <fieldset>
    <legend>Alta usuarios en Jornadas</legend>
    <label for="usuario"> Usuario: </label>
    <input type="text" name="usuario" id="usuario" class="text">
    <label for="clave" > Clave: </label>
    <input type="password" name="clave" id="clave">
    <label for="claveconfir" > Confirmacion de clave: </label>
    <input type="password" name="claveconfir" id="claveconfir" >

    <p>Tipo de usuario:</p>
    <select class="" name="tipo">
      <option value="trabajador">Trabajador</option>
      <option value="administrador">Administrador</option>
    </select>

    <input type="submit" value="Enviar">
  </fieldset>
</form>

<a href="./app" >entrar en otra página</a>

</div>
</div>
