<div id="bajaUsuModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="" action="index.html" method="post">
      <fieldset>
        <legend>Baja de usuario.</legend>
        <label for="selectBajaUsu">Seleccione el usuario a dar de baja</label>
        <select class="" name="selectBajaUsu" id="selectBajaUsu" >
          <option value="" id="optionBajaUsu"></option>
        </select>
        <input type="submit" name="ejecutaBaja" value="ejecutaBaja">
      </fieldset>
    </form>




  </div>

</div>
