<div id="bajaJorModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="" action="/deljor" method="post">
      <fieldset>
        <legend>Borrar jornada.</legend>
        <label for="selectBajaJor">Seleccione la jornada a dar de baja</label>
        <select class="" name="selectBajaJor" id="selectBajaJor" >
          <option value="" id="optionBajaJor"></option>
        </select>
        <input type="submit" name="ejecutaBajaJor" value="EjecutaBaja">
      </fieldset>
    </form>




  </div>

</div>
