<div id="bajaEmpModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="" action="/delemp" method="post">
      <fieldset>
        <legend>Baja de empresa.</legend>
        <label for="selectBajaEmp">Seleccione la empresa a dar de baja</label>
        <select class="" name="nif" id="selectBajaEmp" >
          <option value="" id="optionBajaEmp"></option>
        </select>
        <input type="submit" name="ejecutaBajaEmp" value="EjecutaBaja">
      </fieldset>
    </form>




  </div>

</div>
