
<div id="cierreModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>¿Esta seguro que quiere cerrar la sesión?</h3>
    <button type="button" name="button">Aceptar</button>
    <button type="button" name="button">Cancelar</button>
  </div>
</div>
