<% include head %>


<div class="container">
<% if(tipo=="administrador"){ %>

  <% include headeradmin %>
  <% include adminButtons %>


  <% include altaUsu %>
  <% include altaEmp %>
  <% include altaJor %>

  <% include bajaUsu %>
  <% include bajaEmp %>
  <% include bajaJor %>
  <% include modiUsu %>
  <% include modiEmp %>
  <% include modiJor %>
<% } else if(tipo=="trabajador") { %>
  <% include headertrab %>
  <% } %>

<h2>Paratodos</h2>

<form class="" action="index.html" method="post">
  <fieldset>
    <legend>Intervalo de fechas a consultar.</legend>
    <label for="">Seleccione fecha inicial.</label>
    <input type="date" name="" value="">
    <label for="">Seleccione fecha final.</label>
    <input type="date" name="" value="">

  </fieldset>
</form>

  <% include adminMain %>

<div class="">
  aqui van los turnos del usuario.
</div>

</div>

  <% include cerrarSesion %>

<% include footer %>
