<% include head %>

<% if(tipo=="administrador"){ %>
<div class="container">


  <% include adminButtons %>
  <% include adminMain %>
  <% include altausu %>
  <% include altaempresa %>
  <% include cerrarSesion %>
  <% include bajaUsu %>
  <% include bajaEmp %>
<% } %>

<form class="" action="/app" method="post" id="pp" name="pp">
  <input type="submit" name="" value="">
</form>

</div>

<% include footer %>
