<% include head %>

<% if(tipo=="administrador"){ %>
  <% include adminMenu %>
<% } %>
<h1>Consultas</h1>
<a href="./app" >Hoy</a>
<a href="./app" >Mañana</a>
<a href="./app" >Periodo</a>

<% include footer %>
