<% include head %>

<% if(tipo=="administrador"){ %>
<div class="container">


  <% include adminButtons %>
  <% include adminMain %>
  <% include altausu %>
  <% include altaempresa %>
<% } %>

</div>

<% include footer %>
