<% include head %>

<% if(tipo=="administrador"){ %>
<div class="container">


  <% include adminButtons %>
  <% include adminMain %>
  <% include altaUsu %>
  <% include altaEmp %>
  <% include cerrarSesion %>
  <% include bajaUsu %>
  <% include bajaEmp %>
  <% include bajaJor %>
<% } %>

<h2>Paratodos</h2>

</div>

<% include footer %>
