<% include head %>


<div class="container">
<% if(tipo=="administrador"){ %>

  <% include headeradmin %>
  <% include adminButtons %>
  <% include altaUsu %>
  <% include altaEmp %>
  <% include altaJor %>
  <% include bajaUsu %>
  <% include bajaEmp %>
  <% include bajaJor %>
  <% include modiUsu %>
  <% include modiEmp %>
  <% include modiJor %>
<% } else if(tipo=="trabajador") { %>
  <% include headertrab %>
  <% } %>

  <% include adminMain %>

</div>

  <% include cerrarSesion %>

<% include footer %>
