<% include head %>

<% if(tipo=="administrador"){ %>
<div class="container">


  <% include adminButtons %>
  <% include adminMain %>
  <% include altausu %>
  <% include altaempresa %>
  <% include cerrarSesion %>
  <% include bajaUsu %>
  <% include bajaEmp %>
<% } %>

<h2>Paratodos</h2>

</div>

<% include footer %>
