<header>
  <h3>Información de jornadas laborales y turnos.</h3>
  <p>Sesion de .....<%= tipo %></p>
  <p>Usuario: <%= user %></p>
  <button type="button" name="salgotrab" id="salgotrab">Salir</button>
</header>
