<% include head %>

<h1>Jornadas laborales <%= empresa %> .</h1>
<form action="./app" method="post" >
  <fieldset>
    <legend>logarse en Jornadas</legend>
    <label for="usuario"> Usuario: </label>
    <input type="text" name="usuario" id="usuario" class="text">
    <label for="clave" > Clave: </label>
    <input type="password" name="clave" id="clave">
    <input type="hidden" name="accion" value="logar" >
    <input type="submit" value="Enviar">
  </fieldset>
</form>
<% if(tipo=="administrador"){ %>
  <% include adminButtonUser %>
<% } %>
<a href="./app" >entrar en otra página</a>

<% include footer %>
