<div id="modiJorModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Modificación de jornadas.</h2>
    <label for="selectModiJor">Seleccione la jornada a modificar:</label>
    <select class="" name="selectModiJor" id="selectModiJor" >
      <option value="" id="optionModiJor"></option>
    </select>

    <div class="" id="frameTurnos">
      <input type="button" value="Borrar turno" id="modiborraturn" ><input type="button" value="Crear turno" id="modicreaturn" >";
    </div>
<div class="" id="">
  <p>Seleccione Trabajador:</p>
  <label for="selectAltaJorTM">Seleccione el trabajador del turno:</label>
  <select class="" name="selectAltaJorTM" id="selectAltaJorTM" required >
    <option value="" id="optionAltaJorTM"></option>
  </select>

    <label for="horasTurnoM" > Horas de la jornada: </label>
    <input type="number" name="horasTurnoM" id="horasTurnoM" required value="8" min="0" max="24" >
    <label for="horaIni" > Hora de la entrada: </label>
    <input type="time" name="horaIniM" id="horaIniM" required value="18:00" >


</div>


  </div>

</div>
