<div id="modiEmpModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

    <h2>Modificacion de empresas.</h2>
    <label for="selectModiEmp">Seleccione la empresa a modificar.</label>
    <select class="" name="selectModiEmp" id="selectModiEmp" >
      <option value="" id="optionModiEmp"></option>
    </select>

    <form class="" action="/modiemp" method="post">
      <fieldset>
        <legend>Datos de la empresa.</legend>
        <label for="mempresa"> Nombre de empresa: </label>
        <input type="text" name="mempresa" id="mempresa" class="text" disabled >
        <label for="mnif" > Código empresa: </label>
        <input type="text" name="mnif" id="mnif" required disabled >
        <input type="submit" value="Guardar cambios" disabled >
        <input type="hidden" name="midemp" value="" disabled >
      </fieldset>
    </form>


  </div>

</div>
