<div id="modiUsuModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

    <h2>Modificación de usuarios.</h2>
    <label for="selectBajaUsu">Seleccione el usuario a modificar.</label>
    <select class="" name="selectModiUsu" id="selectModiUsu" >
      <option value="" id="optionModiUsu"></option>
    </select>

    <form class="" action="/modusu" method="post">
      <fieldset>
        <legend>Datos usuario</legend>
        <label for="musuario"> Usuario: </label>
        <input type="text" name="musuario" id="musuario" class="text" >
        <label for="mclave" > Clave: </label>
        <input type="password" name="mclave" id="mclave">
        <label for="mclaveconfir" > Confirmacion de clave: </label>
        <input type="password" name="mclaveconfir" id="mclaveconfir" >
        <input type="hidden" name="midusu" id="midusu" value="" disabled >

        <p>Tipo de usuario:</p>
        <select class="" name="mtipo" id="mtipo" >
          <option value="trabajador">Trabajador</option>
          <option value="administrador">Administrador</option>
        </select>


        <input type="submit" name="ejecutaModiUsu" value="Ejecuta modificación">
      </fieldset>
    </form>

  </div>
</div>
