<div id="modiEmpModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
   <span class="close">&times;</span>
<!--     <form class="" action="/delusu" method="post">
      <fieldset>
        <legend>Baja de usuario.</legend>
        <label for="selectBajaUsu">Seleccione el usuario a dar de baja</label>
        <select class="" name="selectBajaUsu" id="selectBajaUsu" >
          <option value="" id="optionBajaUsu"></option>
        </select>
        <input type="submit" name="ejecutaBajaUsu" value="EjecutaBaja">
      </fieldset>
    </form>


-->
Contenido necesario para la modificacion de la empresa.

  </div>

</div>
