<div id="modiJorModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Modificación de jornadas.</h2>
    <label for="selectModiJor">Seleccione la jornada a modificar:</label>
    <select class="" name="selectModiJor" id="selectModiJor" >
      <option value="" id="optionModiJor"></option>
    </select>

    <form action="./altajor" method="post" >
    <fieldset>
      <legend>Alta usuarios en Jornadas</legend>
      <label for="fechIni"> Fecha de inicio: </label>
      <input type="date" name="mfechIni" id="mfechIni" class="text">
      <label for="horasOpen" > Horas de la jornada: </label>
      <input type="number" name="mhorasOpen" id="mhorasOpen">
      <label for="asignarTurnos" > Asignación de los turnos: </label>
      <input type="button" name="Asignar Turnos" id="masignarTurnos" >

      <p>Seleccione Trabajador:</p>
      <select class="" name="mtrabajadorTurno" id="mtrabajadorTurno" >
        <option value="trabajador">Trabajador</option>
        <option value="administrador">Administrador</option>
      </select>

      <input type="submit" value="Grabar">
    </fieldset>
    </form>


  </div>

</div>
